/********** Template CSS **********/
:root {
    --primary: #FC8500;
    --secondary: #FFF0E6;
    --light: #F8F8F9;
    --dark: #001D23;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn.btn-primary:hover {
    color: var(--primary);
    background: transparent;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 background: linear-gradient(
  to top,
  rgba(1, 57, 68, 0.8) 0%,
  rgba(1, 57, 68, 0.5) 20%,
  rgba(1, 57, 68, 0.2) 35%,
  rgba(1, 57, 68, 0) 50%
);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: linear-gradient(to top, rgba(1, 57, 68, 0.8), rgba(1, 57, 68, 0) 50%),
    linear-gradient(to bottom, rgba(1, 57, 68, 0.8), rgba(1, 57, 68, 0) 50%), url(../img/mum\ colle.png) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Causes ***/
.causes-item .progress {
    height: 5px;
    border-radius: 0;
    overflow: visible;
}

.causes-item .progress .progress-bar {
    position: relative;
    overflow: visible;
    width: 0px;
    border-radius: 0;
    transition: 5s;
}

.causes-item .progress .progress-bar span {
    position: absolute;
    top: -7px;
    right: 0;
    width: 40px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: var(--primary);
    color: #FFFFFF;
}

.causes-item .causes-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.causes-item:hover .causes-overlay {
    height: 100%;
    opacity: 1;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .06);
}


/*** Donate ***/
.donate {
    background: rgba(0, 29, 35, .8);
}

.btn-group .btn-light:hover,
.btn-group input[type="radio"]:checked+label {
    color: var(--primary);
    border-color: var(--primary);
}


/*** Team ***/
.team-item img {
    position: relative;
    top: 0;
    transition: .5s;
}

.team-item:hover img {
    top: -30px;
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s;
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px;
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text .team-social {
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary);
    transform: scale(1);
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: var(--primary) !important;
} 

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Footer ***/

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,0.5);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: rgba(255,255,255,0.5);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: var(--primary);
}






.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  
  }
  .features{
    flex-basis:50% ;
  
  }
  
  .features-img{
    flex-basis: 50%;
    margin: auto;
    
   
   
  
  }
  
  .features-img img{
    width: 100%;
    border-radius: 10px;
    
  }
  .features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 600;
    color: #001D23;
    font-family: 'Gelasio', serif;
    font-size: 40px;
  
  }
  
  .features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .feature-icon .fa{
     width: 50px;
     height: 50px;
     font-size: 30px;
     line-height: 50px;
     border-radius: 8px;
     color:  #FC8500;
     border: 1px solid #FC8500;
  }
  
  .feature-text p{
     padding: 0 20px;
     text-align: initial;
     font-weight: 550;
     font-size: 15px;
  }
  
  
  .title-text{
    text-align: center;
    padding-bottom: 70px;
  
  
  }
  .title-text p{
    margin:auto;
    font-size: 40px;
    color: #001D23;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    font-family: 'Gelasio', serif;
  
  }
  .title-text p::after{
    content: '';
    width: 55px;
    height: 40px;
    background: linear-gradient(#FC8500,rgb(255, 253, 253));
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px; 
  
  }
  .title-text h1{
    font-size: 60px;
    color: #001D23;
    font-family: 'Gelasio', serif;
    font-weight: 600;
  
  }
  
  .title-text h2{
    font-size: 30px;
    color:#020202;
    font-weight: 500;
  }
  
  
  .nicho {
    padding: 0 20px;
    text-align:left;
    font-weight: 50;
    font-size: 18px;
    color: #050000;
  }





:root {
    --pm-dark: #023944;     
    --pm-orange: #ff8c00;    
}


.top-bar {
    background-color: var(--pm-dark) !important;
}


.navbar {
    background-color: var(--pm-dark) !important;
}


.navbar-brand h1 {
    color: var(--pm-orange) !important;
}

.navbar-brand span {
    color: #ffffff !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 500;
}


.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--pm-orange) !important;
}


.dropdown-menu {
    background-color: var(--pm-dark);
    border: none;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: var(--pm-orange);
    color: #ffffff;
}


.btn-outline-primary {
    color: var(--pm-orange);
    border-color: var(--pm-orange);
}

.btn-outline-primary:hover {
    background-color: var(--pm-orange);
    color: #ffffff;
}


.top-bar i {
    color: #ffffff;
}

.top-bar a:hover i {
    color: var(--pm-orange);
}



.topic-item:hover,
.subitem:hover {
  background: rgba(255,255,255,0.15);
}

.topic-item.active,
.subitem.active {
  background: #ff8c00;
  color: #fff !important;
}

.sublist.open {
  max-height: 300px !important;
}










.sun-glow-wrapper {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 1055;
}

/* White halo behind the button */
.sun-glow-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;          /* halo size */
  height: 140px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9),   /* bright white center */
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3),
    transparent 70%
  );
  transform: translate(-50%, -50%);
  animation: haloPulse 2.5s infinite;
  filter: blur(10px);
  z-index: 1;
}

/* Button styling */
.live-schedule-btn {
  position: relative;
  background-color: #ff0000;   /* very bright red */
  color: white;
  border: 2px solid #ffffff;   /* white edge */
  border-radius: 50px;
  padding: 14px 20px;
  font-weight: 600;
  z-index: 2;

  /* Box-shadow for extra glow */
  box-shadow: 0 0 8px #ffffff, 0 0 16px rgba(255,255,255,0.5);

  /* Button pulse */
  animation: buttonPulse 2s infinite;
}

/* Halo pulse animation */
@keyframes haloPulse {
  0% { transform: translate(-50%, -50%) scale(0.9); opacity: 0.7; }
  50% { transform: translate(-50%, -50%) scale(1.15); opacity: 1; }
  100% { transform: translate(-50%, -50%) scale(0.9); opacity: 0.7; }
}

/* Button gentle pulse */
@keyframes buttonPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}